.main{
    margin: 6.25rem auto;
    padding: 5rem 0px;
    width: 20rem;
    border-radius: 8px;

    @media (min-width:1200px){
        width: 24.75rem;
   }
}


.containerLogin{

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 9rem;
        height: 2rem;
        max-width: 9rem;
        
    }
}