.container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  justify-content: center;
  

  color: var(--grey-0);
  font-size: 12px;
  font-family: var(--font-family-primary);



  .inputGrid {
    position: relative;
  }

  p{
    margin-bottom: 1rem;  
    color: var(--color-primary);
}

  input{
    width: 88%;
    height: 2.4375rem;
    margin-bottom: 0.8125rem;
    padding: 0 1rem;

    border-radius: 0.25rem ;
    border: none;
    border-color: transparent;

    background: var(--grey-2);
    color: var(--grey-0);

    font-size: 0.75rem;
    font-family: var(--font-family-primary);

    input:focus{
        background: transparent;
        border: 1px solid var(--grey-0);
    }
}

  button {
    position: absolute;
    top: 0.625rem;
    right: 0.5rem;

    background-color: transparent;
    border: none;
    color: var(--grey-1);
  }
}
